.header-login-form{
  font-weight: bold;
}
.login-form-label{
  margin-bottom: 0.5rem;
}
.input-group{
  margin-bottom: 1rem;
}

.checkbox{
  margin-right: 1rem;
}

.display-col{
  display: flex;
  flex-direction: column;
}

.w-100{
  width:100%
}