.add-new-form-input-group{
  margin: 1.5rem 0;
}

.add-new-form-btn{
  display: flex;
  justify-content: center;
}

.add-new-form-label{
  margin-bottom: 0.5rem;
}

.add-new-form-btn-group{
  margin-top: 1.5rem;
}
.add-new-form-checkbox{
  margin-right: 1rem;
}